 {% extends 'base.html' %}   
 {% load static %}
{% block title %}About Sarvesh{% endblock %}
 {% block content %} 
 <div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{% static 'images/saru.jpg'%}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
         

        	<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">HELLo!!</div>
  <div class="card-body">
    
    <p class="card-text">You can call this site a "BabyWebsite", coz it does not have much stuff to do. This site is developed (by trial and error!!!) by me, person left to this box.</p>
  </div>
</div>
</p>
        <p class="card-text"><small class="text-muted"> </small></p>
      </div>
    </div>
  </div>
</div> 
<div class="alert alert-success" role="alert">
     <a href="https://mail.google.com/mail/u/0/?tab=rm#inbox">Mail ID 1:</a> 
 </div> 
 <div class="alert alert-danger " role="alert">
    <a href="https://mail.google.com/mail/u/1/#inbox">Mail ID 2:</a> 
 
 
{% endblock %}