{% extends 'base.html' %}   
{% load static %}
{% block title %}collection{% endblock %}

{% block content %} 
<style>
      sarvesh
      {
        padding: 25px 100px 12px;
      }
</style>
  <div class="alert alert-secondary" role="alert">
  


  
​  <div class="card-columns">
  <div class="card">
   <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Being the richest man in the cemetery doesn't matter to me. Going to bed at night saying we've done something wonderful, that's what matters to me.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
            <cite title="Source Title">steve jobs</cite>
        </small>
      </footer>
    </blockquote>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>You can't connect dots looking forward.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
           <cite title="Source Title">steve jobs</cite>
        </small>
      </footer>
    </blockquote> 
    <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>A lot of times, people don't know what they want until you show it to them.</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
         <cite title="Source Title">steve jobs</cite>
        </small>
      </footer>
    </blockquote>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/du.png'%}" class="card-img-top" alt="..."> 

    <div class="card-body"> 

      <h5 class="card-title">Steve</h5>
      <p class="card-text">He wanted to put a ding in the universe but, with his work he has put a big Bump in the world. He was crazy enough to think of changing the world, so he did. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div> 
 
  </div>  
  <sarvesh>
  <font margin='20px'>
  <div class="card" style="width: 18rem;">
         <img          src="{% static 'images/du.png'%}" class="card-img-top" alt="...">
  <div class="card-body">
      <p class="card-text"><div>quick example text to build on the card title and make up the bulk of the card's content.</p></div>
    </div>
  </div>
</sarvesh>
  <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Here's to the crazy ones. The misfits. The rebels. The troublemakers. The round pegs in the square holes. The ones who see things differently. They're not fond of rules. And they have no respect for the status quo. You can quote them, disagree with them, glorify or vilify them. About the only thing you can't do is ignore them. Because they change things. They push the human race forward. And while some may see them as the crazy ones, we see genius. Because the people who are crazy enough to think they can change the world, are the ones who do.</p>
      <footer class="blockquote-footer text-white">
        <small>
         <cite title="Source Title">steve jobs</cite>
        </small>
      </footer>
    </blockquote>
  </div>
   <img src="{% static 'images/du.png'%}" class="img-fluid" alt="Responsive image">
  </div>
  <div class="card">
     
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">b
<div class="card-deck">
  <div class="card">
    <img src="{% static 'images/du.png'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/du.png'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="{% static 'images/du.png'%}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
       

 {% endblock %}